.photos-content {
  .title {
    font-size: 17px;
    line-height: 44px;
    text-align: center;
    position: relative;
    background-color: #fff;
    .back-icon {
      position: absolute;
      left: 7px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    .photo-item {
      width: calc(100vw/3);
      height: calc(100vw/3);
      margin-bottom: 1px;
      background-size: cover;
      // img {
      //   width: 100%;
      //   height: 100%;
      // } 
    }
    .mg-img {
      margin: 0 1px;
      width: calc((100vw/3) - 2px);
    }
  }
}